@media (min-width: 768px) {
    .sidebar {
        width: 25%;
    }

    .content {
        width: 75%;
    }
}
@media screen and (max-width: 768px) {
    .layout-container {
        flex-direction: column;
    }

    .sidebar, .main-content {
        width: 100%;
        text-align: center;
    }
}

:root {
    --primary-color: #0769ca;
    --background-color: #f0f4f800;
    --text-color: #d4d1d1;
    --accent-color: #6e778200;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --shadow-3d: 0 4px 8px rgba(0, 0, 0, 0.2);
    --container-bg: rgba(255, 255, 255, 0.1);
    --container-hover-bg: rgba(209, 227, 248, 0.976);
}


img, video {
    max-width: 100%;
    height: auto;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    background-image: url('images/Backround.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: justify;
    padding-top: 60px;
}
body {
    font-size: 16px; /* Utilisez px pour la taille de base de la police */
}

h1 {
    font-size: 2rem; /* S'adapte en fonction de la taille de la police de base du body */
}

#about, #skills, #experience, #education, #interests, #contact {
    background-color: rgba(69, 67, 67, 0.733);
    box-shadow: var(--shadow-3d);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



#about:hover, #skills:hover, #experience:hover, #education:hover, #interests:hover, #contact:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 12px 12px rgba(0, 0, 0, 0.22);
}


.layout-container {
    display: flex; /* ou `display: grid;` */
    flex-direction: column; /* Pour Flexbox */
}




.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

h1, h2, h3, p, ul, a {
    list-style-type: none;
    padding-left: 0;
}

.profile-pic {
    border-radius: 15%;
    border: 4px solid var(--accent-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.609);
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
}

button:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}


.header-container button {
    background-color: var(--accent-color);
}


.layout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    text-align: center;
}

.company-logo {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
}
.education-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.education-item {
    background-color: #0a0808a2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
    text-align: center;
}

.education-details h3 {
    font-size: 1.2em;
    margin-top: 0;
}

.education-details p {
    margin: 5px 0;
}


.education-item:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
.interests-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.interest-item {
    background-color: #0a0808a2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
    text-align: center;
    width: 200px;
}

.interest-item i {
    font-size: 2em;
    margin-bottom: 10px;
}

.interest-item p {
    margin: 0;
}

.interest-item:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px 0;
}


.experience-item {
    background-color: #0a0808a2;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.461);
    overflow: hidden;
    padding: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.experience-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.316);
}

.experience-item img.company-logo {
    width: 120px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.experience-item h3 {
    margin: 10px 0 15px 0;
    color: var(--primary-color);
    font-size: 1.1em;
}

.experience-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.experience-item ul li {
    position: relative;
    margin-bottom: 8px;
    padding-left: 20px;
}

.experience-item ul li::before {
    content: "•";
    color: var(--primary-color);
    font-weight: bold;
    position: absolute;
    left: 0;
}


header {
    background-color: #262626ad;
    color: white;
    padding: 2px 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width:  100%;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}


header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #3333334d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position:  relative;
    width: 100%;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footer-container p {
    margin: 5px 0;
}

.cv-download-button {
    background-color: var(--accent-color); /* Choisissez une couleur qui se démarque ou qui s'harmonise */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block; /* Important pour l'espacement et le dimensionnement */
    margin-left: 20px; /* Espacement depuis les autres éléments de navigation */
    transition: background-color 0.3s, transform 0.2s;
}

.cv-download-button:hover {
    background-color: var(--primary-color); /* Inversez ou ajustez la couleur au survol si nécessaire */
    transform: scale(1.05); /* Légère augmentation pour un effet au survol */
}

/* Personnalisation de la barre de défilement entière */
::-webkit-scrollbar {
    width: 3px; /* Largeur de la scrollbar */
}

/* Le chemin de défilement (arrière-plan de la barre de défilement) */
::-webkit-scrollbar-track {
    background: var(--background-color); /* Couleur de fond */
    border-radius: 10px; /* Bords arrondis */
}

/* Le gestionnaire de défilement (la partie que vous déplacez) */
::-webkit-scrollbar-thumb {
    background-color: #262626ad; /* Couleur du gestionnaire */
    border-radius: 10px; /* Bords arrondis */
    border: 3px solid #262626ad; /* Bordure extérieure du gestionnaire */
}

/* Survol du gestionnaire de défilement */
::-webkit-scrollbar-thumb:hover {
    background: #262626ad; /* Couleur au survol */
}



#contact input[type="text"],
#contact input[type="email"],
#contact input[type="name"],
#contact textarea {
    width: 90%;
    padding: 15px;
    border: 1px solid #707d87;
    border-radius: 5px;
    background-color: #e0e4e8;
}



